/*折线图组件样式*/

.h5_component_polyline_rank {}

.h5_component_polyline_rank canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.h5_component_polyline_rank .text {
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: -20px;
    height: 20px;
    line-height: 20px;
    /*chrome不会显示小于12px的文本*/
    -webkit-transform: scale(.8);
    -webkit-transition: all 1s 1.5s;
    -webkit-opacity: 0;
}

.h5_component_polyline_rank_load .text {
    -webkit-opacity: 1;
}

.h5_component_polyline_rank_leave .text {
    -webkit-opacity: 0;
}